<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Area of Triangle</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include 'components/header.html' %}

  <section class="workpage-section">
    <h1 class="workpage-title">Area of a Triangle</h1>
    <div class="work-box">
      <form method="POST">
        <input type="number" step="any" name="base" placeholder="Enter base" required>
        <input type="number" step="any" name="height" placeholder="Enter height" required>
        <button type="submit">Calculate</button>
      </form>

      {% if area %}
      <p class="result">Area: <b>{{ area }}</b></p>
      {% endif %}
    </div>
  </section>
</body>
</html>