<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'components/header.html' %}
    <section class="home-content">
        <h2 class="welcome">Welcome to my</h2>
        <h1 class="portfolio">PORTFOLIO</h1>
        <p class="explore">Explore my Profile and Programming Works!</p>
    </section>
</body>
</html>